<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="styles.css">
<body class="bg">
<div class="container">
<div class="row">
<div class="col-md-4 col-xs-4 col-sm-4 margin_top"><figure>
<img src="DhananjayShinde.jpg" width="120" height="110" class="img-responsive">
</figure></div>
<div class="col-md-8 col-xs-8 col-sm-8 "><h3>Dhananjay Shinde</h3>
<h4>Sr.Developer |Associate at Cognizant Technology Solutions<br/>
Email: Dhananjay.Shinde@cognizant.com | Mobile: 9372045132<br/></h4>
</div>
</div>
</div>
 </body>



