<link rel="stylesheet" type="text/css" href="styles.css">
<div>
<form>

<section>
  <h2>Contact Me</h2>
  
  <div class = "left_col"><label>First Name:</label></div><div class = "right_col"><input type="text" name="firstname" placeholder="Enter name" autofocus ></div>
  <div class = "left_col"><label>Mobile:</label></div><div class = "right_col"><input type="text" name="mobile" placeholder="Enter mobile number" pattern="/(7|8|9)\d{9}/" title="Please enter valid mobile number"></div>
  <div class = "left_col"><label>E-mail:</label></div><div class = "right_col"><input type="email" name="email" placeholder="Enter e-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></div>
  <div class = "left_col"><label>Remarks:</label></div><div class = "right_col">  <textarea class=".tx"name="remarks" placeholder="Enter remarks">
  </textarea>
  </div>
  <div class = "center_col"><input class="btn" type="submit" value="Submit"></div>
  
</section>

</form> 
