<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="nav_top bg">
		<iframe class="iframe_header" src="index.html" name="iframe_nav1"
			frameBorder="0" scrolling="no"></iframe>
	</div>

	<div class="nav_left bg">
		<ul>
			<li><a href="profilehighlights.html" target="iframe_nav"><i class="fa fa-fw fa-list"></i>Profile Highlights</a></li>
			<li><a href="projects.html" target="iframe_nav"><i class="fa fa-fw fa-list-alt"></i> Projects</a></li>
			<li><a href="experience.html" target="iframe_nav"><i class="fa fa-fw fa-file"></i> Experience</a></li>
			<li><a href="personalbiography.html" target="iframe_nav"><i	class="fa fa-fw fa-user"></i> Personal Biography</a></li>
			<li><a href="contactme.html" target="iframe_nav"><i	class="fa fa-fw fa-envelope"></i> Contact Me</a></li>
		</ul>
	</div>
	<div class="nav_right bg">
		<iframe class="iframe_content" src="profilehighlights.html"
			name="iframe_nav" frameBorder="0"></iframe>
	</div>

</body>
</html>
