<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<font face="calibri" size="4px">
<link rel="stylesheet" type="text/css" href="styles.css">
<div>
 <h2>Profile Highlights</h2>
<ul>
<li>5+ years of experience in object oriented analysis, development & testing of distributed enterprise business applications.</li>
<li>Domain knowledge in Telecom.</li>
<li>Good expertise in Core Java, Servlet, JSP, Hibernate, XML</li>
<li>	Good expertise in working with spring boot, MVC, Spring-Integration, spring-batch framework, IOC.</li>
<li>	Good knowledge of RESTful and SOAP web services.</li>
<li>	Experienced in DevOps & Agile methodology. </li>
<li>	Have done Design and Code review.</li>
<li>	Experienced in Handling a team and delegating the work.</li>
<li>	Involved in daily scrum standup meeting, sprint planning, backlog refinement, retroprospective. </li>
<li>	Responsible for delivering the stories to the client at the</li>
Specified time lines.</li>
<li>	Having Good Communication and Interpersonal skills.</li>

</ul>
</div>
</font>
</body>
</html>
