<!DOCTYPE html>
<html>
<body>
<font face="calibri" size="3px">
<form>
<section>
  <h2>ContactMe</h2>
  <table>
  <tr><td>First Name:</td><td></td><td><input type="text" name="firstname" placeholder="Enter name" autofocus ></td></tr>
  <tr><td>Mobile:</td><td></td><td><input type="text" name="mobile" placeholder="Enter mobile number" pattern="/(7|8|9)\d{9}/" title="Please enter valid mobile number"></td></tr>
  <tr><td>E-mail:</td><td></td><td><input type="email" name="email" placeholder="Enter e-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></td></tr>
  <tr><td>Remarks:</td><td></td><td>  <textarea name="remarks" placeholder="Enter remarks">
  </textarea>
  </td></tr>
  <tr><td></td><td><input type="submit" value="Submit"></td><td></td></tr>
  </table>
</section>
</form> 
</body>
</html>
