<!DOCTYPE html>
<html>
<body>
<font face="calibri" size="4px">
<h2>IT Experience</h2>
<ul>
<li>Working as Sr. Developer in the KPN account of cognizant </li>
<li>Worked in Autobots team as Developer where we developed new framework using selenium web driver, Angular 2.0, RESTful web services and spring boot from scratch to automate the Service now tickets to reduce manual work</li>
<li>Worked in Project Transition Program for which went Bangalore to take the Transition for KPN project from Accenture. There I was involved in shadow, reverse shadow and steady state phase of the transition project</li>
<li>After successful Transition actively involved in business communication for future requirements to provide better solutions which helped us in spring planning, backlog refinement while delivering sprit goals</li>
<li>Active member of DEVOPS team, involved actively with L1 team to get issues solved.</li>
<li>Unit testing in DEV, SIT and acceptance environments. Used Junit for Unit testing.</li>
<li>Used GIT/SVN/CVS for Version Control System.</li>
<li>Handled Scrum meetings</li>
<li>Developed applications to reduce the manual efforts</li>
<li>Mentored the new joiners</li>
<li>Part of Cognizant FSE program</li>
</ul>
</font>
</body>
</html>
