<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome...</title>
</head>
<body>
	<font face="calibri" size="4px">
		<table>
			<tr bgcolor="#E0E0E0">
				<td colspan="2"><aside>
						<font face="calibri" size="6px">Dhananjay D. Shinde</font><br />
						<font face="calibri" size="5px">Email: Dhananjay.Shinde@cognizant.com<br />
							Mobile: 9372045132
						</font><br />
					</aside></td>
				<td text-align="right"><figure>
						<img src="DhananjayShinde.jpg" width="150" height="80">
					</figure></td>
			</tr>
		</table>
	</font>
</body>

</body>
</html>