<!DOCTYPE html>
<html>
<body>
<font face="calibri" size="3px">
<main>
<h2>Project</h2>
<section>
<h4>Intershop-OrderIntakeTool</h4>
<h4>Client: KPN</h4>
<h4>Duration: August 2016 to Till Date</h4>
<h4>Role	: Sr.Developer  </h4>
<h4>Technologies:</h4>Core Java, Angular2.0, Spring-boot, RESTful & SOAP web services, SOAP Test suits, SVN.
<ul>
	<li>Working as Sr. Developer in the KPN account of cognizant.</li>
	<li>Worked in Autobots team as Developer where we developed new framework using selenium web driver, Angular 2.0, RESTful web services and spring boot from scratch to automate the Service now tickets to reduce manual work.</li>
	<li>Worked in Project Transition Program for which went Bangalore to take the Transition for KPN project from Accenture. There I was involved in shadow, reverse shadow and steady state phase of the transition project.</li>
	<li>After successful Transition actively involved in business communication for future requirements to provide better solutions which helped us in spring planning, backlog refinement while delivering sprit goals.</li>
	<li>Actively involved in the design and implementation of the LION program for Intershop (Order Intake) application, where replacing the old service end points to new one (SOAP web services).</li>
	<li>Active member of DEVOPS team, involved actively with L1 team to get issues solved (P1).</li>
	<li>Responsible for mentoring and sharing the knowledge with team members.</li>
</ul>
</font>
</section>
</main>
</body>
</html>
